# Class 1 Strings & Lists

Keywords

In [4]:
#save string
a='flower'
a

'flower'

In [5]:
#reverse string
a[::-1]

'rewolf'

In [8]:
#uppercase
a.upper()

'FLOWER'

In [29]:
#nested list
a=[[1,2,3],'ranveer']
a

[[1, 2, 3], 'ranveer']

In [30]:
#slicing
a[1][3:7]

'veer'

In [32]:
#to remove all other entries
a.pop(1)

'ranveer'

In [33]:
a=[[1,2,3],'ranveer']
a

[[1, 2, 3], 'ranveer']

In [50]:
a[1]='ritesh'
a

[[1, 2, 3], 'ritesh', 1, 1, 4, 4, 4, 1]

In [51]:
#tupple
t1=(2,3,4,7)
t1

(2, 3, 4, 7)

    t1.

In [54]:
#to add value to last position of a list
a.append(8)

In [55]:
a

[[1, 2, 3], 'ritesh', 1, 1, 4, 4, 4, 1, 1, 8]

In [59]:
#count the repeating value
a.count(1)

4